services:
  web:
    image: ghcr.io/samuelvaneck/ip:latest
    hostname: ip_web
    ports:
      - 8082:4567
    environment: &envs
      - VIRTUAL_HOST=ip.zeap.io
      - VIRTUAL_PORT=8082
      - LETSENCRYPT_HOST=ip.zeap.io
      - LETSENCRYPT_EMAIL=samuelvaneck@gmail.com
      - HTTPS_METHOD=noredirect

networks:
  default:
    external:
      name: proxy
